.div-title-portfolio > h2{
    font-size: 1em;
}
.slide {
    height: 15vh;
}
.box-icon-game > i, .box-icon-laptop > i {
    font-size: 2em;
}
.sec-projet {
    height: 0% !important;
}
.legend-proj{
    padding: 20px 0 0;
}
.html, .css {
    height: 40vh !important;
}
.skill-svg-html{
    animation: lineUpto-375 2s linear forwards;
}
@keyframes lineUpto-375 {
    100% {
        stroke-dashoffset: 173;
    }
}
.skill-svg-javascript{
    animation: lineUpJsto-375 2s linear forwards;
}
#js-id-icon {
    height: 45vh !important;
}
@keyframes lineUpJsto-375 {
    100% {
        stroke-dashoffset: 440;
    }
}
.skill-svg-css{
    animation: lineUpCssto-375 2s linear forwards;
}
@keyframes lineUpCssto-375 {
    100% {
        stroke-dashoffset: 225;
    }
}
.box-img-des-proj{
    width: 85%;
    height: 50%;
    margin: 0 auto;
}
.sociaux-cont{
    height: 40%;
}
footer{
    height: 150px;;
}
.logo-down{
    height: 30%;
    width: 50%;
    margin: 0 auto;
}

#log-port{
    width: 20%;
    height: 90%;
}
#log-portfo{
    height: 100%;
    width: 90%;
}